.SectionButton {
    align-items: center;
    bottom: 0;
    background-color: white;
    display: flex;
    height: 50px;
    justify-content: space-between;
    position: fixed;
    padding: 20px;
    width: 100%;
    margin-top: 50px;
}
.SectionButtonFalso {
    justify-content: end;
}
.back {
    text-decoration: none;
    color: gray;
    opacity: 0.8;
}
.next {
    background-color: hsl(213, 96%, 18%);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    outline: none;
    padding: 10px;
    cursor: pointer;
}
.confimar {
    background-color: hsl(243, 100%, 62%);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;

}
@media all and (min-width:1100px) {
    .SectionButton {
        position: relative;
        margin: 0%;
        padding: 0%;
    }
    .next {
        font-size: 16px;
        padding: 14px;
    }
    .back {
        font-size: 18px;
    }
}