
.h1 {
    color: hsl(213, 96%, 18%);
}
.subtitle {
    opacity: 0.4;
    font-size: 15px;
}
.divLabelInput {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/*.divLabel {
    border: thin solid gray;
    border-radius: 5px;
    padding: 10px;
}*/
input[type="radio" i] {
    display: none;
}
.input[type=radio] + label {
    border: thin solid gray;
    border-radius: 5px;
    padding: 10px;
}
.input[type=radio]:checked + label {
    border: 1px solid blue;
    z-index: 1;
}